@model FoodTracker_revenge_.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_comida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_comida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_ambiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_ambiente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_restaurante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_restaurante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_minimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_minimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_maximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_maximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valoracion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idRestaurante }) |
    @Html.ActionLink("Back to List", "Index")
</p>
